    <header>
      <a href="index.html">
        <img src="http://i.imgur.com/I7HHiM7.png">
      </a>
    </header>

    <section id="home">
        <input type="text" name="venue" list="venues" autocomplete="off">
        <datalist id="venues">
          <select name="venues">
            <option value="COACHELLA">Coachella</option>
            <option value="STAGECOACH">Stagecoach</option>
            <option value="OUTSIDE LANDS">Outside Lands</option>
            <option value="EDC">Electric Daisy Carnival</option>
            <option value="BEALE STREET">Beale Street</option>
            <option value="BONNAROO">Bonnaroo</option>
            <option value="ULTRA">Ultra</option>
            <option value="COUNTERPOINT">Counterpoint</option>
            <option value="TOMORROW WORLD">Tomorrow World</option>
            <option value="TOMORROW LAND">Tomorrow Land</option>
            <!-- … -->
          </select>
        </datalist>
        <a href="#"><i class="fa fa-search fa-4x"></i></a>
        <a href="#"><i class="fa fa-search fa-3x"></i></a>
        <a href="#"><i class="fa fa-search fa-2x"></i></a>
    </section>

    <section id="festivals">
      <h1>Upcoming Festivals</h1>
    </section>
