<header>
      <a href="index.html">
        <img src="http://i.imgur.com/I7HHiM7.png">
      </a>
    </header>

    <section id="home">
      <form action="/locations" method="get">
        <input type="text" name="location[city]" list="venues" autocomplete="off">
        <datalist id="venues">
          <select name="venues">
           <!--  <option value="COACHELLA">Coachella</option>
            <option value="STAGECOACH">Stagecoach</option>
            <option value="OUTSIDE LANDS">Outside Lands</option>
            <option value="EDC">Electric Daisy Carnival</option>
            <option value="BEALE STREET">Beale Street</option>
            <option value="BONNAROO">Bonnaroo</option>
            <option value="ULTRA">Ultra</option>
            <option value="COUNTERPOINT">Counterpoint</option>
            <option value="TOMORROW WORLD">Tomorrow World</option>
            <option value="TOMORROW LAND">Tomorrow Land</option> -->
            <!-- … -->
          </select>
        </datalist>
        <a href="#" type="submit"><i class="fa fa-search fa-4x"></i></a>
        <a href="#"><i class="fa fa-search fa-3x"></i></a>
        <a href="#"><i class="fa fa-search fa-2x"></i></a>
        </form>
    </section>

    <section id="festivals">
      <h1>Upcoming Festivals</h1>
      
      <div class="section group">
      	<div class="col span_1_of_3 one" style="background-image: url('http://i.imgur.com/ZzbXsBd.jpg');">
      	  <a href="#">
        	  <div class="overlay one">
              <h2>EDC</h2>
              <p class="edc">Las Vegas</p>
            </div>
          </a>
      	</div>
      	<div class="col span_1_of_3 two" style="background-image: url('http://i.imgur.com/QOHeFl1.jpg');">
      	  <a href="#">
        	  <div class="overlay">
        	    <h2 class="coachella">Coachella</h2>
        	    <p class="edc">Indio</p>
        	  </div>
        	</a>
      	</div>
      	<div class="col span_1_of_3 three" style="background-image: url('http://i.imgur.com/3aLuqnl.jpg');">
      	  <a href="#">
            <div class="overlay">
              <h2 class="outside_lands">Outside Lands</h2>
              <p class="edc">San Francisco</p>
            </div>
          </a>
      	</div>
      </div>
      
      <div class="section two group">
      	<div class="col span_1_of_3 one" style="background-image: url('http://i.imgur.com/EoUhEZ0.jpg');">
      	  <a href="#">
        	  <div class="overlay one">
              <h2 class="outside_lands">Lollapalooza</h2>
              <p class="edc">Chicago</p>
            </div>
          </a>
      	</div>
      	<div class="col span_1_of_3 two" style="background-image: url('http://i.imgur.com/W8dCDzl.jpg');">
      	  <a href="#">
        	  <div class="overlay">
        	    <h2 class="outside_lands">Hard Summer</h2>
        	    <p class="edc">Los Angeles</p>
        	  </div>
        	</a>
      	</div>
      	<div class="col span_1_of_3 three" style="background-image: url('http://i.imgur.com/tiFqq7I.jpg');">
      	  <a href="#">
            <div class="overlay">
              <h2 class="coachella">Holy Ship</h2>
              <p class="edc">Bahamas</p>
            </div>
          </a>
      	</div>
      </div>
      
      
    </section>