/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS STARTS HERE*/


/* =============================================
 *
 *   FIXED RESPONSIVE NAV
 *
 *   (c) 2014 @adtileHQ
 *   http://www.adtile.me
 *   http://twitter.com/adtilehq
 *
 *   Free to use under the MIT License.
 *
 * ============================================= */

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Lato", sans-serif;
}

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

header img.logo{
  width: 250px;
  display: block;
  position: absolute;
  margin-top: 30px;
  left: 50%;
  right: 50%;
  margin-left: -125px;
}

section {
  border-bottom: 1px solid #999;
  text-align: center;
  padding: 100px 0 0;
  height: 800px;
  width: 100%;
}

section a {
  text-decoration: none;
}

h1 {
  font-size: 70px;
  text-transform: uppercase;
}

p {
  width: 90%;
  margin: 0 auto;
}

input {
  width: 80%;
  height: 100px;
  font-size: 80px;
  text-align: center;
  border: none;
  opacity: .7;
  margin-top: 100px;
}

input:focus {
    outline:none;
}

body {
  background-color: white;
}

#home {
  background-image: url("http://i.imgur.com/SJ9IXM3.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
}

#home a i {
  color: white;
  opacity: .9;
  margin-left: 15px;
}

#home a:active i {
  color: rgba(4, 191, 191, .9)
}

#home a i.fa-3x {
  display: none;
}

#home a i.fa-2x {
  display: none;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px auto;
	margin-top: 100px;
	width: 850px;
}

.section.two {
  margin-top: 0;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 10px 0 10px 50px;
	background-color: pink;
	height: 250px;
}
.col:first-child { margin-left: 0; }

.col.one, .col.two, .col.three {
  background-size: cover;
  background-position: center;
  background-color: rgba(3, 191, 191, .75);
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 65%; }
.span_1_of_3 { 
  width: 250px;
 }
 
 h2 {
   color: white;
   font-size: 20px;
   line-height: 250px;
   margin-top: -20px;
   text-transform: uppercase;
   font-weight: 400;
 }
 
 .col p {
   color: white;
   margin-top: -100px;
 }
 
 .overlay.one {
   margin-top: 20px;
   height: 100%;
   width: 100%;
   background: rgba(3, 191, 191, .4);
   transition: .4s;
 }
 
 .overlay {
   margin-top: 20px;
   height: 100%;
   width: 100%;
   background: rgba(3, 191, 191, .4);
   transition: .4s;
 }
 
 .overlay:hover {
   background: rgba(3, 191, 191, .3);
   transition: .4s;
 }

 input[type="text"] {
  background: transparent;
  border: none;
 }

 input, select, textarea {
  color: white;
 }

 ::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder {
  color: white;  
}

::-moz-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

.darken {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.5);
}

/* 
 h2.outside_lands {
   font-size: 30px;
 }
 
 h2.coachella {
   font-size: 35px;
 }*/

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}


@media screen and (max-width: 1250px) {
  input {
    font-size: 60px;
    height: 80px;
  }
  
  #home a i.fa-3x {
    display: inherit;
  }
  
  #home a i.fa-4x {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  input {
    font-size: 40px;
    height: 60px;
    margin-top: 75px;
  }
  
  #home a i.fa-3x {
    display: none;
  }
  
  #home a i.fa-2x {
    display: inherit;
  }
  
  #home {
    height: 300px;
  }
  
  h1 {
    font-size: 50px;
  }
  
  .section {
    width: 100%;
  }
  
  .col {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    margin-top: 0;
  }
  
  .col:first-child {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 639px) {
  input {
    font-size: 20px;
    margin-top: 20px;
    height: 40px;
  }
  
  #home {
    height: 200px;
  }
  
  h1 {
    font-size: 30px;
  } 
}