    <header>
        <a href="<%= root_url %>">
          <img src="http://i.imgur.com/I7HHiM7.png">
        </a>
    </header>

    <section id="home">
      <form action="/locations" method="get">
        <input type="text" name="location[city]" list="venues" autocomplete="off">
        <datalist id="venues">
          <select name="venues">
          </select>
        </datalist>
        <a href="#" type="submit"><i class="fa fa-search fa-4x"></i></a>
        <a href="#"><i class="fa fa-search fa-3x"></i></a>
        <a href="#"><i class="fa fa-search fa-2x"></i></a>
        </form>
    </section>